.logo {
    height: 48px;
}

.containerForm {
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    margin-top: 50px;
}

.btn {
    background-color: #049DBF !important;
    border-radius: 8px !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 40px !important;
    margin: 12% 0px 0px 2px;
}

.btn:hover {
    border-color: #E0E0E0 !important;
}

.btnTitle {
    color: #FFFFFF;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.04em;
    margin-right: 10px;
}

.containerFormTitle {
    margin-top: 8%;
    margin-bottom: 5%;
}

.containerFormData {
    width: 100%;
}

.iconArrow {
    height: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

.imgSuccess {
    height: 150px;
}

.imgError {
    height: 150px;
}

.containerFooter {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.btn:disabled {
    background-color: #E0E0E0 !important;
}

.btnBack {
    background-color: #E0F2F6 !important;
    border-color: #E0F2F6 !important;
}

.btnTitleBack {
    color: #049DBF;
}