html,
body {
    flex: 1;
    height: 100%;
}

p,
h1,
h2,
h3,
h4,
h5 {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

#root {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

h3 {
    font-size: 1.4rem !important;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900 !important;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0.01em;
    color: #2C394A !important;
}

h4 {
    font-size: 1.3rem !important;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500 !important;
    font-size: 20px !important;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #000000 !important;
}

p {
    font-family: 'Source Sans Pro';
    font-size: 0.8rem;
    text-align: center;
    color: #4C6280 !important;
}

.ant-input {
    background: #FFFFFF !important;
    border: 1px solid #E0E0E0 !important;
    border-radius: 8px !important;
    font-family: Source Sans Pro !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 16px !important;
    line-height: 24px !important;
    letter-spacing: 0.01em !important;
    color: #9E9E9E !important;
    height: 40px;
}

.ant-input-password {
    background: #FFFFFF !important;
    border: 1px solid #E0E0E0 !important;
    border-radius: 8px !important;
    font-family: Source Sans Pro !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 16px !important;
    line-height: 24px !important;
    letter-spacing: 0.01em !important;
    color: #9E9E9E !important;
    height: 40px;
    padding: 0px 10px 0px 10px !important;
}

.ant-input-password>input {
    border-color: white !important;
    background-color: transparent !important;
}

.formLabel {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;
    color: #4C6280;
}

.subtitle {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.01em;
    color: #9E9E9E;
}

.ant-steps-item-title {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #049DBF !important;
}

.ant-steps-item-process .ant-steps-item-icon>.ant-steps-icon .ant-steps-icon-dot {
    background: #049DBF !important;
}